<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Statistics - HabitFlow</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

<div class="dashboard">

    <aside class="sidebar">

        <div class="brand">
            <span class="dot"></span>
            HabitFlow
        </div>

        <div class="menu">

            <a th:href="@{/habits}">
                🏠 Dashboard
            </a>

            <a th:href="@{/habits}">
                📋 Habits
            </a>

            <a class="active">
                📊 Statistics
            </a>

            <a th:href="@{/profile}">
                👤 Profile
            </a>

        </div>

    </aside>


    <main class="content">

        <h1>📊 Statistics</h1>

        <div class="habit-card">

            <h3>Coming soon 🚀</h3>

            <p>
                Habit analytics will appear here.
            </p>

        </div>

    </main>


</div>

</body>
</html>